/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/fSPDNjKJKbbV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/eQEOLAuaxRhE.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/9qpX6daPsKKt.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/l7nfActKcQwo.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/Yddf238ahcEo.otf') format('truetype');
}