/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/n1tXEWHTCWQj.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/unl6ldcllVWp.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/X9fSbxm8WaZF.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/1zrburTNTiaV.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/9TmgpHtCfFBu.otf') format('truetype');
}