/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/EuEPyBmDvz1x.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/EWt9PsqRT0lC.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/LSm32wCStNdR.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/LgjXZQr2p6zl.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/rMsYM8aHVPDk.otf') format('truetype');
}